.new-output-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  margin-left: 2em;
}

.new-output-row {
  display: flex;
  width: 20em;
  gap: 2em;
  margin-bottom: 1em;
}

.new-output-text-content {
  width: 15em;
  height: 20em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  border: 1px solid lightblue;
}

.search-inputs {
  display: flex;
  gap: 2em;
}

.outputs-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
